<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "monkey.jpg", width: 300, alt: "Image", class: 'profile-img' %>
      </div>
      <div class="col-md-8">
        <p>This page is about me.</p>
        <p>Placeholder content because there is no content here.</p>
      </div>
    </div>
  </div>
</div>
