<dic class="app-card-container">
  <div class="card">
    <h1>Contact</h1>
    <h7>(fake information)</h7>
    
    <p>phone: (555)-45753-3565</p>
    
    <p>email: StealthEagle011@gmail.com</p>
    
    <p>address: 0248N person drive</p>
  </div>
</dic>

