<div class="inner cover">
  <h1 class="cover-heading">This is the Homepage</h1>
  <p class="lead">I am supposed to put text in this area but I have no idea what to put here.</p>
  <p class="lead">Thank you for visiting my website. Have a nice stay because<h5 id="cant-leave">YOU WILL NEVER LEAVE!!!</h5></p></p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>

