<div class="inner cover">
  <h1 class="cover-heading">This is the Homepage</h1>
  <p class="lead">Sample text here to fill up space</p>
  <p class="lead">Thank you for visiting my website. I worked hard to create it.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary btn-about" %>
  </p>
</div>

